#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/rgbled_widget.dtsi>  // led制御

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10

#define QWE 0
#define WIN 1
#define LWR 2
#define RSE 3
#define ADJ 4
#define MOV 5
#define NUM 6
#define CAD 7
#define BLE 8

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <140>;
    quick-tap-ms = <0>;
};

&lt {
    flavor = "hold-preferred";
};

&sl {
    release-after-ms = <600>;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS SPACE CARET PERIOD COMMA ENTER TAB BACKSPACE SLASH KP_N0 KP_N1 KP_N2 KP_N3 KP_N4 KP_N5 KP_N6 KP_N7 KP_N8 KP_N9 KP_MINUS KP_DOT KP_ENTER KP_SLASH KP_ASTERISK KP_PLUS KP_EQUAL>; 
};


/ {

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LWR RSE>;
            then-layer = <ADJ>;
        };
    };

    combos {    
        compatible = "zmk,combos";

// 複数キーの同時押しに特別の入力を設定できる
    // キー番号早見表：
    // 	0  1  2  3  4           5  6  7  8  9
    // 10 11 12 13          14 15 16 17 18 19
    // 20 21 22 23          24 25 26 27 28 29	
    //          30 31 32    33 34 35 

        esc_l {
            bindings = <&kp ESC>;
            key-positions = <0 10>;
            layers = <QWE MOV CAD>;
            timeout-ms = <80>;
        };

        esc_r {
            bindings = <&kp ESC>;
            key-positions = <9 19>;
            layers = <QWE CAD>;
            timeout-ms = <80>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 3>;
            layers = <QWE MOV CAD>;
            timeout-ms = <80>;
        };

        wind_l {
            bindings = <&win_left>;
            key-positions = <11 12>;
            layers = <LWR CAD>;
            timeout-ms = <80>;
        };

        wind_r {
            bindings = <&win_right>;
            key-positions = <12 13>;
            layers = <LWR CAD>;
            timeout-ms = <80>;
        };

        shift_l {
            bindings = <&kp LSHFT>;
            key-positions = <0 1>;
            layers = <QWE>;
            timeout-ms = <80>;
        };

        shift_r {
            bindings = <&kp RSHFT>;
            key-positions = <8 9>;
            layers = <QWE>;
            timeout-ms = <80>;
        };

        combo_TSHIFT {
            bindings = <&kp RSHIFT>;
            key-positions = <30 35>;
            layers = <QWE>;
            timeout-ms = <80>;
        };

        ctrl_l {
            bindings = <&kp LCTRL>;
            key-positions = <10 11>;
            layers = <QWE LWR RSE>;
            timeout-ms = <80>;
        };

        ctrl_r {
            bindings = <&kp RCTRL>;
            key-positions = <18 19>;
            layers = <QWE LWR RSE>;
            timeout-ms = <80>;
        };

        gui_l {
            bindings = <&kp LGUI>;
            key-positions = <20 21>;
            layers = <QWE LWR RSE>;
            timeout-ms = <80>;
        };

        sqt {
            bindings = <&kp SQT>;
            key-positions = <18 19>;
            layers = <QWE>;
            timeout-ms = <80>;
        };

        alt_slash {
            bindings = <&alt_slash>;
            key-positions = <18 29>;
            layers = <QWE>;
            timeout-ms = <80>;
        };

        mb1 {
            bindings = <&mkp MB1>;
            key-positions = <15 25>;
            layers = <QWE>;
            timeout-ms = <80>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <16 26>;
            layers = <QWE>;
            timeout-ms = <80>;
        };

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <14 24>;
            layers = <QWE>;
            timeout-ms = <80>;
        };

        int5_g {
            bindings = <&int5_g>;
            key-positions = <19 29>;
            layers = <QWE>;
            timeout-ms = <80>;
        };
        
        CTRL_PG_DN {
            bindings = <&kp LC(PG_DN)>;
            key-positions = <0 1>;
            layers = <LWR>;
            timeout-ms = <80>;
        };
        
        CTRL_PG_UP {
            bindings = <&kp LC(PG_UP)>;
            key-positions = <10 11>;
            layers = <LWR>;
            timeout-ms = <80>;
        };
        
        ctrl_x {
            bindings = <&ctrl_x>;
            key-positions = <8 9>;
            layers = <RSE>;
            timeout-ms = <80>;
        };

        ctrl_c {
            bindings = <&ctrl_c>;
            key-positions = <18 19>;
            layers = <RSE>;
            timeout-ms = <80>;
        };

        nlck {
            bindings = <&kp KP_NLCK>;
            key-positions = <8 9>;
            layers = <NUM>;
            timeout-ms = <80>;
        };

        dot_question {
            bindings = <&kp KP_DOT>;
            key-positions = <18 19>;
            layers = <NUM>;
            timeout-ms = <80>;
        };
        
        mt_LCTRL_GRAVE {
            bindings = <&mt LCTRL GRAVE>;
            key-positions = <10 11>;
            layers = <RSE>;
            timeout-ms = <80>;
        };

        mt_LCTRL_LANG5 {
            bindings = <&mt LCTRL LANG5>;
            key-positions = <10 11>;
            layers = <ADJ>;
            timeout-ms = <80>;
        };

        file_f {
            bindings = <&file_f>;
            key-positions = <1 2>;
            layers = <CAD>;
            timeout-ms = <80>;
        };

        file_r {
            bindings = <&file_r>;
            key-positions = <2 3>;
            layers = <CAD>;
            timeout-ms = <80>;
        };

        pr_pg {
            bindings = <&pr_pg>;
            key-positions = <21 22>;
            layers = <CAD>;
            timeout-ms = <80>;
        };

        nx_pg {
            bindings = <&nx_pg>;
            key-positions = <22 23>;
            layers = <CAD>;
            timeout-ms = <80>;
        };
    };

    behaviors {
        // com_excl: comma_exclamation {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&kp COMMA>, <&kp EXCL>;
        //     mods = <(MOD_LSFT)>;
        // };
        // dot_qmark: dot_question {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&kp DOT>, <&kp QMARK>;
        //     mods = <(MOD_LSFT)>;
        // };            
        // tog_on: toggle_layer_on_only {
        //     compatible = "zmk,behavior-toggle-layer";
        //     #binding-cells = <1>;
        //     display-name = "Toggle Layer On";
        //     toggle-mode = "on";
        // };
        // tog_off: toggle_layer_off_only {
        //     compatible = "zmk,behavior-toggle-layer";
        //     #binding-cells = <1>;
        //     display-name = "Toggle Layer Off";
        //     toggle-mode = "off";
        // };
    
        td_lt_mov_l1: tap_dance_layer_tap_mov_l1 {  // タップでLANG1、ホールドでMOVレイヤ、ダブルタップでMOVレイヤ保持
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt MOV LANG1>, <&to MOV>;
        };
		td_lt_num_l2: tap_dance_layer_tap_num_l2 {  // タップでLANG2、ホールドでNUMレイヤ、ダブルタップでNUMレイヤ保持
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt NUM LANG2>, <&to NUM>;
        };
		td_lt_mov_i2: tap_dance_layer_tap_mov_i2 {  // タップでINT2、ホールドでMOVレイヤ、ダブルタップでMOVレイヤ保持
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt MOV INT2>, <&to_MOV_i2>;
        };
        td_lt_cad_i2: tap_dance_layer_tap_cad_i2 {  // タップでINT2、ホールドでCADレイヤ、ダブルタップでCADレイヤ保持
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt MOV INT2>, <&to_CAD_i2>;
        };
		td_lt_num_i5: tap_dance_layer_tap_num_i5 {  // タップでINT5、ホールドでNUMレイヤ、ダブルタップでNUMレイヤ保持
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt NUM INT5>, <&to_NUM_i5>;
            
        };
        td_g: tap_dance_g {  // タップで図形グループ化、ダブルタップで図形グループ化解除
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp G>, <&ctrl_d_g>; 
        };
        td_i: tap_dance_i {  // タップで2点間寸法線、ダブルタップで連続寸法線
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp I>, <&ctrl_d_i>; 
        };
        td_b: tap_dance_b {  // タップで長方形(2頂点)、ダブルタップで長方形(サイズ)､トリプルタップで面取り
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <240>;
            bindings = <&kp B>, <&ctrl_a_b>, <&ctrl_d_b>; 
        };
        td_y: tap_dance_y {  // タップでレイヤ変更、ダブルタップでシンボルレイヤ変更
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp Y>, <&ctrl_d_t>; 
        };
        td_l: tap_dance_l {  // タップで直線(2点間)、ダブルタップで平行補助線入力､トリプルタップで補助線削除
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <240>;
            bindings = <&kp L>, <&ctrl_d_l>, <&ctrl_d_d>; 
        };
        td_r: tap_dance_r {  // タップで連続寸法線追加、ダブルタップで連続寸法線削除
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <240>;
            bindings = <&kp P>, <&kp R>; 
        };
        td_t: tap_dance_t {  // タップで文字修正、ダブルタップで文字種別変更
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp E>, <&ctrl_d_e>; 
        };
    };

    macros {
        // qmt: qwerty_mt {
        //     compatible = "zmk,behavior-macro-two-param";
        //     wait-ms = <0>;
        //     tap-ms = <0>;
        //     #binding-cells = <2>;
        //     bindings
        //         = <&macro_press &mo QWERTY>
        //         , <&macro_param_1to1>
        //         , <&macro_param_2to2>
        //         , <&macro_press &mt MACRO_PLACEHOLDER MACRO_PLACEHOLDER>
        //         , <&macro_pause_for_release>
        //         , <&macro_param_1to1>
        //         , <&macro_param_2to2>
        //         , <&macro_release &mt MACRO_PLACEHOLDER MACRO_PLACEHOLDER>
        //         , <&macro_release &mo QWERTY>
        //         ;
        // };
        // qm: qwerty_m {
        //     compatible = "zmk,behavior-macro-one-param";
        //     wait-ms = <0>;
        //     tap-ms = <0>;
        //     #binding-cells = <1>;
        //     bindings
        //         = <&macro_press &mo QWERTY>
        //         , <&macro_param_1to1>
        //         , <&macro_press &kp MACRO_PLACEHOLDER>
        //         , <&macro_pause_for_release>
        //         , <&macro_param_1to1>
        //         , <&macro_release &kp MACRO_PLACEHOLDER>
        //         , <&macro_release &mo QWERTY>
        //         ;
        // };
        // mkp_aml: mkp_automosuelayer {
        //     compatible = "zmk,behavior-macro-one-param";
        //     #binding-cells = <1>;
        //     bindings
        //         = <&macro_param_1to1>
        //         , <&macro_press &mkp MACRO_PLACEHOLDER>
        //         , <&macro_pause_for_release>
        //         , <&macro_param_1to1>
        //         , <&macro_release &mkp MACRO_PLACEHOLDER>
        //         , <&macro_tap &sl MOV>
        //         ;
        // };
        // kp_aml: kp_automosuelayer {
        //     compatible = "zmk,behavior-macro-one-param";
        //     #binding-cells = <1>;
        //     bindings
        //         = <&macro_param_1to1>
        //         , <&macro_press &kp MACRO_PLACEHOLDER>
        //         , <&macro_pause_for_release>
        //         , <&macro_param_1to1>
        //         , <&macro_release &kp MACRO_PLACEHOLDER>
        //         , <&macro_tap &sl MOV>
        //         ;
        // };
        file_f: file_f { // ファイルの切り替え正
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp F6> // マクロキー押下時にLCTRLとF6を同時に押す
                , <&macro_release &kp LCTRL &kp F6> // マクロキー解放時にLCTRLとF6を同時に離す
                // = <&macro_press &kp LCTRL>
                // , <&macro_tap &kp F6>
                // , <&macro_release &kp LCTRL>
                ;
        };

        file_r: file_r { // ファイルの切り替え逆
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LCTRL &kp F6> // マクロキー押下時にLSHFTとLCTRLとF6を同時に押す
                , <&macro_release &kp LSHFT &kp LCTRL &kp F6> // マクロキー解放時にLSHFTとLCTRLとF6を同時に離す
                // = <&macro_press &kp LSHFT>
                // , <&macro_press &kp LCTRL>
                // , <&macro_tap &kp F6>
                // , <&macro_release &kp LCTRL>
                // , <&macro_release &kp LSHFT>
                ;
        };

        pr_pg: pr_pg { // 前ページ切り替え
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp F5> // マクロキー押下時にLSHFTとF5を同時に押す
                , <&macro_release &kp LSHFT &kp F5> // マクロキー解放時にLSHFTとF5を同時に離す
                // = <&macro_press &kp LSHFT>
                // , <&macro_tap &kp F5>
                // , <&macro_release &kp LSHFT>
                ;
        };

        nx_pg: nx_pg { // 次ページ切り替え
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp F6> // マクロキー押下時にLSHFTとF6を同時に押す
                , <&macro_release &kp LSHFT &kp F6> // マクロキー解放時にLSHFTとF6を同時に離す
                // = <&macro_press &kp LSHFT>
                // , <&macro_tap &kp F6>
                // , <&macro_release &kp LSHFT>
                ;
        };

        alt_right: alt_right { // フォルダ移動進む
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp RIGHT>
                , <&macro_release &kp LALT &kp RIGHT>
                // = <&macro_press &kp LALT>
                // , <&macro_tap &kp RIGHT>
                // , <&macro_release &kp LALT>
                ;
        };

        alt_left: alt_left { // フォルダ移動戻る
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp LEFT>
                , <&macro_release &kp LALT &kp LEFT>
                // = <&macro_press &kp LALT>
                // , <&macro_tap &kp LEFT>
                // , <&macro_release &kp LALT>
                ;
        };

        alt_up: alt_up { // フォルダ移動上
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp  UP>
                , <&macro_release &kp LALT &kp UP>
                // = <&macro_press &kp LALT>
                // , <&macro_tap &kp UP>
                // , <&macro_release &kp LALT>
                ;
        };

        alt_down: alt_down { // フォルダ移動下
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp DOWN>
                , <&macro_release &kp LALT &kp DOWN>
                // = <&macro_press &kp LALT>
                // , <&macro_tap &kp DOWN>
                // , <&macro_release &kp LALT>
                ;
        };
        ctrl_x: ctrl_x { // 切り取り
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp X>
                , <&macro_release &kp LCTRL>
                ;
        };
        ctrl_c: ctrl_c { // コピー
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C>
                , <&macro_release &kp LCTRL>
                ;
        };


        grave_uc: grave_uc {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N9 &kp KP_N6>
                , <&macro_release &kp LALT>
                ;
        };

        tilde_uc: tilde_uc {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N1 &kp KP_N2 &kp KP_N6>
                , <&macro_release &kp LALT>
                ;
        };

        // to_QWE_l2: to_QWE_LANG2{
        // 	compatible = "zmk,behavior-macro";
        // 	#binding-cells = <0>;
        // 	bindings = <&to QWE>, <&kp LANG2>;
        // };

        to_QWE_i5: to_QWE_INT5{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE>, <&kp INT5>;
        };

        to_WIN_i5: to_WIN_INT5{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to WIN>, <&kp INT5>;
        };

        to_MOV_i2: to_MOV_INT2{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to MOV>, <&kp INT2>;
        };

        to_CAD_i2: to_CAD_INT2{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to CAD>, <&kp INT2>;
        };

        to_NUM_i5: to_NUM_INT5{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to NUM>, <&kp INT5>;
        };

        int5_g: int5_g { // 端点再設定(AHK)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp INT5>
                , <&macro_wait_time 40>
                , <&macro_tap &kp G>
                , <&macro_wait_time 40>
                , <&macro_release &kp INT5>
                ;
        };	

        alt_int4: alt_int4 { // Alt+変換 選択位置移動(複写)(AHK)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp RALT>
                , <&macro_tap     &kp INT4>
                , <&macro_release &kp RALT>
                ;
        };	

        alt_int5: alt_int5 { // Alt+無変換 選択位置移動(移動)(AHK)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp RALT>
                , <&macro_tap     &kp INT5>
                , <&macro_release &kp RALT>
                ;
        };

        alt_slash: alt_slash { // ファイル切替 Alt+/ (AHK)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp RALT>
                , <&macro_tap     &kp SLASH>
                , <&macro_release &kp RALT>
                ;
        };

        win_right: win_right { // デスクトップ移動進む
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LCTRL>
                // , <&macro_wait_time 40>
                , <&macro_tap &kp RIGHT>
                // , <&macro_wait_time 40>
                , <&macro_release &kp LCTRL>
                , <&macro_release &kp LGUI>
                ;
        };

        win_left: win_left { // デスクトップ移動戻る
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LCTRL>
                // , <&macro_wait_time 40>
                , <&macro_tap &kp LEFT>
                // , <&macro_wait_time 40>
                , <&macro_release &kp LCTRL>
                , <&macro_release &kp LGUI>
                ;
        };
        macro_INT2: macro_INT2 {
            compatible = "zmk,behavior-macro";
            label = "macro_INT2";
            #binding-cells = <0>;
            bindings = <&kp INT2>, <&to WIN>;
        };
        macro_INT5: macro_INT5 {
            compatible = "zmk,behavior-macro";
            label = "macro_INT5";
            #binding-cells = <0>;
            bindings = <&kp INT5>, <&to QWE>;
        };
        macro_LANG1: macro_LANG1 {
            compatible = "zmk,behavior-macro";
            label = "macro_LANG1";
            #binding-cells = <0>;
            bindings = <&kp LANG1>, <&to WIN>;
        };
        macro_LANG2: macro_LANG2 {
            compatible = "zmk,behavior-macro";
            label = "macro_LANG2";
            #binding-cells = <0>;
            bindings = <&kp LANG2>, <&to QWE>;
        };
        bt0_l0: bt0_l0 { // Bluetoothプロファイル0を選択し、レイヤー0を有効化
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE &bt BT_SEL 0 &to QWE>;
        };
        bt1_l4: bt1_l4 { // Bluetoothプロファイル1を選択し、レイヤー4を有効化
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE &bt BT_SEL 1 &to QWE>;
        };
        bt2_l4: bt2_l4 { // Bluetoothプロファイル2を選択し、レイヤー4を有効化
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE &bt BT_SEL 2 &to QWE>;
        };
        bt3_l4: bt3_l4 { // Bluetoothプロファイル3を選択し、レイヤー4を有効化
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE &bt BT_SEL 3 &to QWE>;
        };
        bt4_l2: bt4_l2 { // Bluetoothプロファイル4を選択し、レイヤー2を有効化
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE &bt BT_SEL 4 &to QWE>;
        };
        bt4_l3: bt4_l3 { // Bluetoothプロファイル4を選択し、レイヤー3を有効化
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE &bt BT_SEL 4 &to QWE>;
        };
        usb_l0: usb_l0 { // USB接続を選択し、レイヤー0を有効化
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE &out OUT_USB &to QWE>;
        };
        usb_l2: usb_l2 { // USB接続を選択し、レイヤー2を有効化
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to QWE &out OUT_USB &to QWE>;
        };
        ctrl_d_x: ctrl_d_x { // 図面管理情報
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp X>
                ;
        };
        ctrl_d_y: ctrl_d_y { // ページ管理情報
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp Y>
                ;
        };
        ctrl_d_z: ctrl_d_z { // 全ページ情報
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp Z>
                ;
        };
        ctrl_f_u: ctrl_f_u { // 図面種別情報
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp F>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp U>
                ;
        };
        ctrl_f_v: ctrl_f_v { // ページ編集
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp F>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp V>
                ;
        };
        ctrl_d_e: ctrl_d_e { // 文字種別変更
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp E>
                ;
        };
        ctrl_f_f: ctrl_f_f { // 文章修正
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp F>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp F>
                ;
        };
        ctrl_d_f: ctrl_d_f { // 多相結線
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp F>
                ;
        };
        ctrl_f_n: ctrl_f_n { // 三相線番
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp F>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp N>
                ;
        };
        ctrl_d_n: ctrl_d_n { // 自動線番範囲選択
            compatible = "zmk,behavior-macro";
            // wait-ms = <40>;
            // tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp N>
                , <&macro_wait_time 80>
                , <&macro_tap &kp TAB>
                , <&macro_tap &kp TAB>
                , <&macro_tap &kp TAB>
                // , <&to WIN> // ADJWのベースレイヤー（例としてWINレイヤー）に戻る※rsewレイヤロック強制解除用
                ;
        };
        ctrl_d_a: ctrl_d_a { // ツイスト線
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp A>
                ;
        };
        ctrl_alt_s: ctrl_alt_s { // シンボル一覧(AHK)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                // , <&macro_wait_time 40>
                , <&macro_press &kp LALT>
                , <&macro_tap &kp S>
                , <&macro_release &kp LALT>
                // , <&macro_wait_time 40>
                , <&macro_release &kp LCTRL>
                // , <&to WIN> // ADJWのベースレイヤー（例としてWINレイヤー）に戻る※rsewレイヤロック強制解除用
                ;
        };	
        ctrl_d_w: ctrl_d_w { // 渡りページ編集
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp W>
                // , <&to WIN> // ADJWのベースレイヤー（例としてWINレイヤー）に戻る※rsewレイヤロック強制解除用
                ;
        };
        ctrl_d_r: ctrl_d_r { // リファレンス編集
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp R>
                // , <&to WIN> // ADJWのベースレイヤー（例としてWINレイヤー）に戻る※rsewレイヤロック強制解除用
                ;
        };
        ctrl_f_r: ctrl_f_r { // R枠変更
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp F>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp R>
                ;
        };
        ctrl_d_l: ctrl_d_l { // 並行補助線入力
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp L>
                ;
        };
        ctrl_d_d: ctrl_d_d { // 補助線削除
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp D>
                ;
        };
        ctrl_a_c: ctrl_a_c { // コピー
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp C>
                ;
        };
        ctrl_a_v: ctrl_a_v { // 貼付け
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp V>
                ;
        };
        ctrl_d_q: ctrl_d_q { // 円(中心)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp Q>
                ;
        };
        ctrl_a_k: ctrl_a_k { // コメント
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp K>
                ;
        };
        ctrl_d_c: ctrl_d_c { // 製品情報
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp C>
                ;
        };
        alt_home: alt_home { // 移動左90度回転[AHK]
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp HOME>
                , <&macro_release &kp LALT>
                ;
        };
        alt_end: alt_end { // 移動右90度回転[AHK]
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp END>
                , <&macro_release &kp LALT>
                ;
        };
        ctrl_d_g: ctrl_d_g { // グループ化解除
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp G>
                // , <&to WIN> // ADJWのベースレイヤー（例としてWINレイヤー）に戻る※rsewレイヤロック強制解除用
                ;
        }; 
        ctrl_a_b: ctrl_a_b { // 長方形(サイズ)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp B>
                ;
        };
        ctrl_d_i: ctrl_d_i { // 連続寸法線
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp I>
                ;
        }; 
        ctrl_d_b: ctrl_d_b { // 面取り
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp B>
                ;
        }; 
        ctrl_d_t: ctrl_d_t { // シンボルレイヤ変更
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp T>
                ;
        }; 

        // m_alt_tab: m_alt_tab {
        // 	label = "ALT_TAB_HOLD";
        // 	compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings
        //         = <&macro_press &kp LALT>
        //         , <&macro_tap &kp TAB>
        //         , <&macro_wait_time 1000>
        //         , <&macro_release &kp LALT>
        //         ;
        // };

        // m_alt_s_tab: m_alt_s_tab {
        //     label = "ALT_SHFT_TAB_HOLD";
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings
        //         = <&macro_press &kp LALT>
        //         , <&macro_press &kp LSHFT>
        //         , <&macro_tap &kp TAB>
        //         , <&macro_wait_time 50>
        //         , <&macro_release &kp LSHFT>
        //         , <&macro_wait_time 1000>
        //         , <&macro_release &kp LALT>
        //         ;
        // };
    };

    keymap {
        compatible = "zmk,keymap";

        QWE {
            bindings = <
            &mt LSHFT Q   &kp W         &kp E           &kp R               &kp T                                                     &kp Y           &kp U              &kp I          &kp O      &mt RSHFT P
            &mt LCTRL A   &mt LALT S    &mt LSHFT D     &mt LGUI F                                                  &kp G             &kp H           &mt RGUI J         &mt RSHFT K    &mt RALT L &mt RCTRL SEMICOLON
            &mt LGUI Z    &kp X         &kp C           &kp V                                                       &kp B             &kp N           &kp M              &kp COMMA      &kp DOT    &mt RALT SLASH
                                                        &lt NUM INT5        &mt LSHFT SPACE       &mo LWR           &lt RSE ENTER     &kp INT4        &td_lt_cad_i2

            >;
        };

        WIN {
            bindings = <
            &kp Q           &kp W       &kp E           &kp R               &kp T                                                     &kp Y           &kp U              &kp I          &kp O      &kp P
            &kp A           &kp S       &kp D           &kp F                                                       &kp G             &kp H           &kp J              &kp K          &kp L      &kp SEMICOLON
            &kp Z           &kp X       &kp C           &kp V                                                       &kp B             &kp N           &kp M              &kp COMMA      &kp DOT    &kp SLASH
                                                        &lt NUM INT5        &kp SPACE             &lt LWR TAB       &lt RSE ENTER     &kp INT4        &td_lt_mov_i2
            >;
        };

        LWR {
            bindings = <
            &mt LSHFT PG_UP &kp HOME    &kp UP          &kp END       &mkp MB3                                  &kp DEL        &msc SCRL_LEFT   &mmv MOVE_UP    &msc SCRL_RIGHT   &msc SCRL_UP
            &mt LCTRL PG_DN &kp LEFT    &kp DOWN        &kp RIGHT   	                            &mkp MB1    &kp BSPC       &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_RIGHT   &msc SCRL_DOWN
            &mt LGUI LC(V)  &mkp MB1    &mkp MB3        &mkp MB2		                            &mkp MB2    &mkp MB1       &kp ENTER        &kp LC(LEFT)    &kp LC(RIGHT)     &mt  RALT LG(V)
                                                        &kp LSHFT     &macro_INT5	&trans          &trans      &kp LS(LC(V))  &kp RSHFT
            >;
        };

        RSE {
            bindings = <
            &mt LSHFT F1    &kp F2      &kp F3      &kp F4      &kp F5         		         		   &kp F6         &kp F7    	&kp F8      	&kp F9      &kp F10
            &mt LCTRL N1    &kp N2      &kp N3      &kp N4      		     		    &kp N5         &kp N6         &kp N7    	&kp N8      	&kp N9      &kp N0
            &mt LGUI INT1   &kp BSLH    &kp INT3    &kp SLASH   		     		    &kp ASTRK      &kp MINUS      &kp PLUS  	&kp LBKT    	&kp RBKT    &mt  RALT LC(V)
                                                    &kp LSHFT   &kp SPACE   &trans      &trans         &macro_INT2	  &kp RSHFT
            >;
        };

        ADJ {
            bindings = <
            &mt LSHFT F11  &kp F12        &kp C_MUTE        &kp C_VOL_DN   &kp C_VOL_UP                                    &kp CAPS       &kp PSCRN      &kp SLCK         &kp PAUSE_BREAK   &kp LS(UP)
            &out OUT_BLE   &usb_l2        &bt3_l4           &kp LS(RIGHT)                                   &kp G          &kp INT5       &file_r        &pr_pg           &nx_pg            &file_f
            &bt0_l0        &bt1_l4        &bt2_l4           &kp K_APP                                       &kp LS(LEFT)   &kp LS(DOWN)   &kp LS(HOME)   &kp LS(LC(LEFT)) &kp LS(LC(RIGHT)) &kp LS(END)
                                                            &trans         &grave_uc        &trans          &trans         &tilde_uc	  &trans
            >;

        };

        MOV {
            bindings = <
            &mt LSHFT Q           &kp W           &kp E             &kp R             &int5_g                                           &kp LC(Y)      &kp HOME         &kp UP        &kp END        &kp PG_UP
            &mt LCTRL A           &kp S           &lt RSE D         &mkp MB1                                           &msc SCRL_DOWN   &lt BLE BSPC   &kp LEFT         &kp DOWN      &kp RIGHT      &kp PG_DN
            &mt LGUI Z            &kp X           &kp C             &kp V                                              &mkp MB2         &mkp MB1       &kp LC(PG_UP)    &kp LG(LBKT)  &kp LG(RBKT)   &kp LC(PG_DN)
                                                                    &kp LALT          &mkp MB3         &mkp MB2        &lt RSE ENTER    &mkp MB3       &to_QWE_i5
            >;
        };

        NUM {
            bindings = <
            &kp PG_UP   &kp HOME        &kp UP      &kp END         &kp CARET                                           &kp KP_SLASH    &kp KP_N7   &kp KP_N8   &kp KP_N9     &kp KP_N0
            &kp PG_DN   &kp LEFT        &kp DOWN    &kp RIGHT                                         &lt BLE DEL       &kp BSPC        &kp KP_N4   &kp KP_N5   &kp KP_N6     &kp KP_MINUS
            &alt_left	&alt_down       &alt_up     &alt_right                                        &kp EQUAL         &kp KP_MULTIPLY &kp KP_N1   &kp KP_N2   &kp KP_N3     &kp KP_PLUS
                                                    &trans          &pr_pg	    	  &nx_pg          &kp KP_ENTER      &kp UNDER       &kp SPACE
            >;
        };

        CAD {
            bindings = <
            &mt LSHFT Q           &kp W           &kp E             &td_r             &int5_g                                           &td_y           &kp U              &td_i          &kp O      &mt RSHFT P
            &mt LCTRL A           &kp S           &lt RSE D         &mkp MB1                                           &td_g            &kp H           &mt RGUI J         &mt RSHFT K    &td_l      &mt RCTRL SEMICOLON
            &mt LGUI Z            &kp X           &kp C             &kp V                                              &td_b            &kp N           &kp M              &kp COMMA      &kp DOT    &mt RALT SLASH
                                                                    &mo NUM           &mkp MB3         &mkp MB2        &lt RSE ENTER    &mkp MB3        &to_QWE_i5
            >;
        };

        BLE {
            bindings = <
            &bt BT_DISC 0   &bt BT_DISC 1   &bt BT_DISC 2   &bt BT_DISC 3   &bt BT_CLR_ALL                                 &bt BT_CLR_ALL &bt BT_DISC 4   &bt BT_DISC 5 &bt BT_DISC 6 &bt BT_DISC 7
            &kp LC(LG(T))   &kp LC(LG(C))   &kp LC(LG(P))   &kp LC(LG(G))                                  &trans          &trans         &kp LC(LG(E))   &kp LC(LG(A)) &kp LC(LG(L)) &kp LC(LG(X))
            &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3                                   &bootloader     &bootloader    &bt4_l2     	  &bt BT_SEL 5  &bt BT_SEL 6  &bt BT_SEL 7
                                                            &trans          &kp LS(LG(F23)) &bt BT_CLR     &bt BT_CLR      &kp LA(LG(G))  &trans
            >;
        };
    };
};
